<div class="aside_sticky br bs">

    <div class="anuncio">
        <h1>Anúncios</h1>
        <div class="anuncio_box">
            <div class="anuncio_imagem">
                <img src="./images/feed/anuncios/petro.jpg" alt="">
            </div>
            <div class="anuncio_conteudo">
                <p>Somos movidos pelo desafio de prover energia de forma ética, segura e competitiva.</p>
            </div>
        </div>
        <div class="anuncio_box">
            <div class="anuncio_imagem">
                <img src="./images/feed/anuncios/itau.png" alt="">
            </div>
            <div class="anuncio_conteudo">
                <p>Projeto apadrinhe um sonhador.
                    O Itaú investe no seu sonho</p>
            </div>
        </div>
        <div class="anuncio_box">
            <div class="anuncio_imagem">
                <img src="./images/feed/anuncios/apple.jpg" alt="">
            </div>
            <div class="anuncio_conteudo">
                <p>Patrocinando sonhos.... 
                    Aqui seus sonhos são nossos também</p>
            </div>
        </div>
        <div class="anuncio_box">
            <div class="anuncio_imagem">
                <img src="./images/feed/anuncios/aws.jpg" alt="">
            </div>
            <div class="anuncio_conteudo">
                <p>Para um sonho ser realizado só precisa de alguém que acredite que é possível, a aws acredita em você!</p>
            </div>
        </div>
    </div>

    <div class="noticias">
        <h1>Notícias do Mundo</h1>
        <div class="noticias_conteudo">
            <p>Pesquisadores terão acesso a crédito de nuvem da AWS para ...
                A AWS apoia projetos de pesquisa desde 2009 com o programa Cloud Credits for Research (Créditos de Nuvem para Pesquisa), que ajuda pesquisadores...</p>
            <p>Itaú fará custódia de Bitcoin e criptomoedas
                O Itaú Digital Assets, divisão do banco brasileiro que lida com o mercado de criptomoedas, quer começar a custodiar bitcoin em 2023.</p>
        </div>
    </div>

</div>