<header>
    <div class="global-navbar">
        <a href="/jobs">
            <div class="logo">
                <h1>CC<span>SM</span></h1>
            </div>
        </a>
        <nav>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/message.svg" class="messages-nav" alt="">
                    </div>
                    <div class="small-elipse-nav"></div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/notification.svg" class="notifications-nav" alt="">
                    </div>
                    <div class="small-elipse-nav"></div>
                </a>
            </div>
            <div>
                <a href="/profile">
                    <div class="elipse-nav">
                        <img src="<%= info_base.profile.avatar_url %>" class="profile-nav" alt="">
                    </div>
                    <div class="small-elipse-nav" id="small-elipse-profile">
                        <img src="images/navbar/arrow.svg" alt="">
                    </div>
                </a>
            </div>
        </nav>
    </div>
</header>