<div class="sidebar">
    <div class="sidebar_sticky br bs">
        <p>Estamos ao seu lado para apoiar sua jornada profissional</p>
        <img src="./images/feed/img_vagas.webp" alt="">
        <p>As melhores empresas estão aqui oferecendo vagas de emprego</p>
        <p>Infrastructure Architect - Remote Work 4,5 BairesDev São Paulo - SP, a 315,1 Km de você. Home office 15 nov Who we are BairesDev is proud to be the fastest-growing company in America. With people on five continents and world-class clients, we are only as ...</p>
    </div>
</div>