<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/root.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Jobs | CCSM </title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>CCSM</h1>
        </div>
        <nav>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/message.svg" class="messages-nav" alt="">
                    </div>
                    <div class="small-elipse-nav"></div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/notification.svg" class="notifications-nav" alt="">
                    </div>
                    <div class="small-elipse-nav"></div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/imagem_teste.jpg" class="profile-nav" alt="">
                    </div>
                    <div class="small-elipse-nav" id="small-elipse-profile">
                    </div>
                </a>
            </div>
        </nav>
    </header>

    <div class="clear"></div>

    
    <div class="container">
        <section class="box highlights-container">
        </section>

        <div class="left-container">
            <section class="main-container">
                <div class="post">
                    <div class="profile-post">
                        <div class="avatar-post">
                            <img src="#" alt="">
                        </div>
                        <div class="text-profile-post">
                            <h2>Google</h2>
                            <span>1h . 🌎</span>
                        </div>
                    </div> 
                    <div class="content-post">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                        </p>
                    </div> 
                    <div class="image-post">
                        <img src="images/exemplo/google-sp.webp" alt="">
                    </div>
                    <div class="interactions-post">
                        <span>1234 Curtidas</span>
                        <span>24 Comentários</span>
                        <span>231 Compartilhamentos</span>
                    </div>
                </div>
                <div class="hr-post">
                    <div class="hr2-post"></div>
                </div>
                <div class="buttons-post">
                    <a href="#">
                        <div class="interactions">
                            <div class="interactions-icon">
                                <img src="images/feed/like.svg" alt="">
                            </div>
                            <div>
                                <span>Curtir</span>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="interactions">
                            <div class="interactions-icon">
                                <img src="images/feed/comment.svg" alt="">
                            </div>
                            <div>
                                <span>Comentar</span>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="interactions">
                            <div class="interactions-icon">
                                <img src="images/feed/share.svg" alt="">
                            </div>
                            <div>
                                <span>Compartilhar</span>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="box ad-container">
            </section>
        </div>
    </div>
</body>
</html>