<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Jobs | CCSM </title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>CCSM</h1>
        </div>
        <nav>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/message.svg" class="messages-nav" alt="">
                    </div>
                    <div class="small-elipse-nav"></div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/notification.svg" class="notifications-nav" alt="">
                    </div>
                    <div class="small-elipse-nav"></div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="elipse-nav">
                        <img src="images/navbar/imagem_teste.jpg" class="profile-nav" alt="">
                    </div>
                    <div class="small-elipse-nav" id="small-elipse-profile">
                    </div>
                </a>
            </div>
        </nav>
    </header>

    <section class="container highlights-container">
        
    </section>

    <section class="container main-container">
        
    </section>

    <section class="container ad-container">

    </section>
</body>
</html>