<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/register.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <h1>Cadastre-se</h1>
          <form action="/register" method="POST" class="login-form">
            <input type="text" name="name" placeholder="Nome Completo" required/>
            <input type="email" name="email" placeholder="email" required/>
            <input type="password" name="password" placeholder="Senha" required/>
            <br>
            <label>Escolha seu perfil: </label>
            <div class="campo">
                
              <div class="personal">
                <input type="radio" name="type" value="personal" id="personal">
                <span> Pessoal </span>
              </div>
          
              <div class="business">
                <input type="radio" name="type" value="bussiness" id="bussiness">
                <span> Empresarial </span>
              </div> 
            </div>
            
            <button type="submit">Começar</button>
          </form>
        </div>
      </div>
</body>
</html>