/* WRITE POST */
.write {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 16px;
    box-shadow: 0px 1px 2px var(--box-shadow-content);
    padding: 18px 20px;
}
.avatar-user {
    width: 38px; 
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: var(--gray-white);
    margin-bottom: 16px;
}
.avatar-user img {
    width: 100%;
}
.write form {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}
.write-box {
    font-family: 'Inter', sans-serif;
    resize: none;
    padding: 10px;
    width: 475px;
    height: 80px;
    border-radius: 6px;
    text-align: left;
    margin-bottom: 10px;
}
.write button {
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: #64CEBE;
    border: none;
    border-radius: 6px;
}
.write-image {
    width: 38px;
    height: 38px;
    background-color:#eee;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}


/* P O S T */
.post {
    border-radius: 6px;
    box-shadow: 0px 1px 2px var(--box-shadow-content);
    margin-bottom: 16px;
}
.profile-post {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 12px 20px 8px 20px;
    border-radius: 6px 6px 0px 0px;
}
.avatar-post {
    width: 38px; 
    height: 38px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 7px;
    background-color: var(--gray-white);
}
.text-profile-post {
    display: block;
    width: 474px;
    height: 36px;
}
.text-profile-post h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 2px 0px;
}
.text-profile-post span {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}


/* CONTENT */
.content-post { 
    background-color: #fff;
    padding: 4px 16px 16px 16px;
}
.content-post p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: justify;
}


/* IMAGE-POST */
.image-post {
    background-color: #fff;
}
.image-post img {
    width: 100%;
}


/* INTERACTIONS */
.interactions-post {
    background-color: #fff;
    padding: 13px 16px 14px 16px;
    text-align: right;
}
.interactions-post span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 9px;
}


/* HORIZONTAL ROW */
.hr-post {
    background-color: #fff;
}
.hr2-post {
    width: 558px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}


/* BUTTONS */
.buttons-post {
    background-color: #fff;
    border-radius: 0px 0px 6px 6px;
    padding: 4px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons-post a {
    text-decoration: none;
    color: var(--text-color);
}

/* INTERACTIONS */
.interactions {
    display: flex;
    flex-direction: row;
    width: 176px;
    height: 35px;
    align-items: center;
    justify-content: center;
}
.interactions:hover {
    background-color: rgba(0, 247, 255, 0.212);
    border-radius: 6px;
}
.interactions-icon img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

